<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <title>Home</title>

          
          <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

          <link rel="stylesheet" href="/static/css/home.css">

          <script defer src="./js/home.js"></script>
</head>
<body>

       <header>
          <nav class="navbar navbar-expand-lg bg-danger">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#"><h2 style="color: white ;">King's International Univeristy</h2></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                          <a class="nav-link active" aria-current="page" href="/" style="color: white ;">Home</a>
                         
                          <a  class="nav-link" href="/registration" style="color: rgb(255, 255, 255) ;">Register for a course</a>
                         
                         
                         
                        </div>
                      </div>
                    </div>

                    <div  class="nav justify-content-end">
                             <h4 style="color: white ;">welcome,Gest</h4>
                    </div>
                  </nav>
       </header>
                   

                   
          <main>

            <div class="one">

              <h4 >Welcome to King's International Univeristy</h4>
              <hr>

              <div>

                <img src="static/image/img.jpeg" class="img-fluid" alt="...">

               
              </div>


              <div class="below">

            


              <div class="boxp1">

                <h4>About us</h4><br>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi animi ab facere, at voluptate ipsam ipsum cumque molestias. Tempora laboriosam iure libero quos, accusantium ratione!</p><br>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam accusantium cumque dignissimos quidem alias amet suscipit culpa laboriosam eveniet atque ea at, optio minus corrupti?</p>




              </div>


              <div class="boxp2">

                <h4>degree programs and Courses</h4>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo earum assumenda, doloremque temporibus harum culpa.</p>

                <ul>
                  <li>computer scince

                    <ol>
                      <li>CS401-Modern programming practice</li>
                      <li>CS472 -web application practice</li>

                      <li>cs544-Enterprise architecture</li>
                    </ol>

                  </li>

                  <li>Mathematics
                    <ol>
                      <li>MTH272-Calculas</li>
                      <li>MTH301-Trigonometry</li>
                    </ol>
                  </li>
                </ul>


              </div>



              <div class="boxp3">

                <h4>Compus Train Times</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, earum?</p><br>


                <h5>Here is When the Next Train Arrives</h5>


                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Direction</th>
                      <th scope="col">Time</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">South-bounds</th>
                      <td>10:45 am</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">North-bounds</th>
                      <td>09:20 am</td>
                      
                    </tr>
                    
                  </tbody>
                </table>






              </div>

            </div>
              
            



            </div>



          </main>


          <footer class="fo">


            <div class="box1">


              <h4 style="color: rgb(145, 215, 247) ;">LEMESSA ADUGNA::: CS472 WAP</h4>

                     
            </div>



            <div class="box2">

              <h5 style="color: rgb(145, 215, 247) ;">&copy; Nov 2022 </h5>
                    
            </div>


  </footer>
</body>
</html>
